<!-- begin c-hero -->
<div class="hero" style="background-color: white;">
  <div class="container">
    <div class="row">
      <div class="col col-5 col-t-12 last-item">
        <div class="hero__content">
          <h1 class="hero__title" style="font-weight: bold;">언어와 한국어</h1>
          <p class="hero__subtitle">안녕하세요. 명정희입니다.</p>
          <!-- class="col-4 col-t-10" -->
          <div style="flex: none">
            <div
            class="col-20 push-0 col-t-10 push-t-0 col-m-10 push-m-0 row"
            style="background-color: #e6eef0; padding: 20px; display: flex; border-radius: 8px;">
              <div>
                <p style="margin-bottom: 5px;">
                  <text style="font-weight: 900;">전공</text>: 현대문법론
                </p>
                <p style="margin-bottom: 0px;">
                  <text style="font-weight: 900;">E-mail</text>: jhmyeong.kr@gmail.com
                </p>
              </div>
              <button style="width: 80px; height: 40px; background-color: #2f2f41; margin-left: auto; margin-top: 10px;
              display: flex;
              align-items: center;
              justify-content: center; border-radius: 8px;" onclick="location.href='contact'">
                <text style="font-weight: 900; color: white;">contact</text>
              </button>
            </div>
          </div>
          
        </div>
      </div>
      <div class="col col-7 col-t-12">
        <div class="hero__image">
          <img src="{{site.baseurl}}/images/main/background.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end hero -->

<!-- #2f2f41 -->
 <!-- #C7081F -->