---
layout: default
---
<div class="container">
	<div class="page-title-box">
		<div class="row">
			<div class="col col-12 push-0 col-11 push-t-1 col-m-12 push-m-0"> <!-- col-10 push-2 -->
				<h1 class="page-title">{{ page.title | escape }}</h1>
			</div>
		</div>
	</div>

	{% if page.image %}
	<div class="page__head">
		<div class="page-image" style="background-image: url({{site.baseurl}}/images/{{page.image}})"></div>
	</div>
	{% endif %}
</div>


<div class="container">
	<div class="row">
		<!-- begin page -->
		<article class="page col col-12 col-t-10 col-m-12"><!-- col-8 -->
			<div class="page__content">
				<!-- <div style="font-size: 25px; margin-bottom: 25px;">명정희(Myeong JeongHee)</div> -->
				{{ content }}
				<div class="col-5 col-t-12" style="margin-bottom: 30px;">
					<div>
						서강대학교 언어정보연구소 학술연구교수
					</div>
					<div>
						Research Professor, Institute for Language and Information,
					</div>
					<div>
						Sogang University
					</div>
					<div>
						서울시 마포구 백범로 35
					</div>
					<div>
						서강대학교 J603(정하상관 603호)
					</div>
				</div>
				<div class="col-5 col-t-12">
					<div>
						서강대학교 국어국문학과 강사
					</div>
					<div>
						Lecturer, Department of Korean Language and Literature,
					</div>
					<div>
						Sogang University
					</div>
					<div>
						서울시 마포구 백범로 35
					</div>
					<div>
						서강대학교 J1113(정하상관 1113호)
					</div>
				</div>
			</div>
		</article>
		<!-- end page -->
	</div>
</div>